---
export interface Props {
  title: string;
  path: string;
  href: string;
}

const { href, title, path } = Astro.props;
---

<a
  href={href}
  target='_blank'
  class='w-80 sm:w-96 md:w-[450px] lg:w-[500px] h-16 rounded-full shadow-xl bg-white flex justify-center items-center px-10 hover:bg-gray-300'
>
  <div class=''>
    <img src={path} class='w-7 h-7' />
  </div>
  <p class='w-full flex justify-center text-xl pr-10'>{title}</p>
</a>
